{% if site.navigation_header %}
<nav class="nav  nav--header" aria-label="Main">
  <button class="nav__toggle" type="button" aria-expanded="false" aria-controls="nav-list" aria-label="Menu">
    {% include icon.html id="nav" title="Menu" %}
  </button>
  <ul class="list  list--nav" id="nav-list">
    {% for item in site.navigation_header %}

      {% if item.url contains '://' %}
        {% assign url = item.url %}
      {% else %}
        {% assign url = item.url | relative_url %}
      {% endif %}

      <li class="item  item--nav{% if item.url == page.url %}  item--current{% endif %}">
        {% if item.title == 'Search' %}
          <a class="search-btn" href="{{ url }}" aria-label="Search">
            {% include icon.html id="search" title="Search" %}
          </a>
        {% else %}
          <a href="{{ url }}"{% if item.url == page.url %} aria-current="page"{% endif %}>{{ item.title }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
{% else %}
  {% include nav-default.html %}
{% endif %}
