{% assign meta_post = include.post | default: page %}
{% assign date_format = site.date_format | default: "%d %b %Y" %}

<div class="post-meta">
  <time class="post-meta__date" datetime="{{ meta_post.date | date_to_xmlschema }}">{{ meta_post.date | date: date_format }}</time>
  {% if meta_post.categories.size > 0 %}
    <ul class="tags">
      {% for category in meta_post.categories %}
        <li><a class="tag" href="{{ '/categories/' | relative_url }}#{{ category | slugify }}">{{ category }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
