<nav class="nav  nav--paginator" aria-label="Pagination">

  {% if paginator.previous_page %}
    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="pagination  pagination--previous" rel="prev">&larr; Newer</a>
  {% else %}
    <span class="pagination  pagination--previous  pagination--disabled">&larr; Newer</span>
  {% endif %}

  <span class="pagination  pagination--counter">{{ paginator.page }} / {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="pagination  pagination--next" rel="next">Older &rarr;</a>
  {% else %}
    <span class="pagination  pagination--next  pagination--disabled">Older &rarr;</span>
  {% endif %}

</nav>
