{% for category in site.categories %}
  {% assign category_name = category | first %}
  {% assign category_posts = site.categories[category_name] %}
  {% assign has_categories = true %}
  <section class="category">
    <h2 class="category__title" id="{{ category_name | slugify }}">
      {{ category_name }} <span class="category__count">{{ category_posts.size }}</span>
    </h2>
    <ul class="list  list--compact">
      {% for post in category_posts %}
        <li class="item">
          <a class="compact-post" href="{{ post.url | relative_url }}">
            <span class="compact-post__title">{{ post.title }}</span>
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endfor %}

{% if has_categories != true %}
  <p>There are no categorised posts</p>
{% endif %}
