<div class="search" data-search-endpoint="{{ '/assets/search.json' | relative_url }}">
  <label class="visually-hidden" for="search">Search term</label>
  <input class="search__input" id="search" type="search" name="search" placeholder="Search posts..." autocomplete="off" spellcheck="false" />
  <p class="search__status" id="search-status" aria-live="polite"></p>
  <ul class="list  list--results" id="search-results"></ul>
</div>
<script src="{{ '/assets/scripts/search.js' | relative_url }}" defer></script>
<noscript>Please enable JavaScript to use the search form.</noscript>
