---
layout: default
---

{% include site-header.html %}

<main class="main  container{% if page.heads == true %}  main--with-toc{% endif %}{% if page.aside == true %}  main--with-aside{% endif %}">

  {% if page.heads == true %}{% include site-leftside.html %}{% endif %}

  <article class="article  article--post  content">

    <header class="article__header">
      <h1 class="article__title">{{ page.title }}</h1>
      {% include post-meta.html %}
    </header>

    <div class="markdown-body">
      {{ content }}
    </div>

    <footer class="article__footer">
      {% include nav-share.html %}

      {% if page.comments == true %}{% include post-comments.html %}{% endif %}
    </footer>

  </article>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
